CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+(\.\d+)*" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:attributeGroup name="datosGestion">
        <xs:attribute name="id"        type="TipoIdServidor" use="required" />
        <xs:attribute name="estado"    type="TipoEstado"     use="required" />
        <xs:attribute name="ubicacion" type="xs:string"      use="required" />
    </xs:attributeGroup>
    
    <xs:group name="especificacionesTecnicas">
        <xs:sequence>
            
            <xs:element name="cpu">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="nucleos"      type="xs:integer" use="required" />
                            <xs:attribute name="arquitectura" type="xs:string"  use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="ram">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:integer">
                            <xs:attribute name="unidad" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="MB|GB|TB" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="gpu" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="modelo"  type="xs:string"  use="required" />
                            <xs:attribute name="vram_gb" type="xs:integer" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="discos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="disco" minOccurs="0" maxOccurs="4">
                            <xs:complexType>
                                <xs:attribute name="tipo" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="NVMe|SSD|HDD" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="capacidad_tb" type="xs:integer" use="required" />
                                <xs:attribute name="principal"    type="xs:boolean" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:sequence>
    </xs:group>
    
    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- TAREA B: referencia al group -->
                                                    <xs:group ref="especificacionesTecnicas" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="so">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="version"
                                                                                  type="TipoVersion"
                                                                                  use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="servicios">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="servicio"
                                                                            maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="puerto"
                                                                                              type="xs:integer"
                                                                                              use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- TAREA C: choice entre mac_address e id_interno -->
                                        <xs:element name="identificacion">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="mac_address" type="xs:string" />
                                                    <xs:element name="id_interno"  type="xs:string" />
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- TAREA D: all permite cualquier orden -->
                                        <xs:element name="notas_mantenimiento" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="fecha"      type="xs:string" />
                                                    <xs:element name="autor"      type="xs:string" />
                                                    <xs:element name="comentario" type="xs:string" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                    </xs:sequence>
                                    
                                    <!-- TAREA A: referencia al attributeGroup -->
                                    <xs:attributeGroup ref="datosGestion" />
                                    <xs:attribute name="rack" type="TipoRack" use="required" />
                                    
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        
                        <xs:attribute name="ubicacion" type="xs:string" use="required" />
                        <xs:attribute name="zona"      type="TipoZona"  use="required" />
                        
                    </xs:complexType>
                    
                    <!-- TAREA E Accion 2: unique impide IDs duplicados -->
                    <xs:unique name="unicidadIdServidor">
                        <xs:selector xpath="servidor" />
                        <xs:field    xpath="@id" />
                    </xs:unique>
                    
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    
</xs:schema>
